
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #00F0FF;
    --secondary: #FF00FF;
    --bg: #020205;
  }

  body {
    background-color: var(--bg);
    color: #FFFFFF;
    font-family: sans-serif;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
  }
}
